.admin-input {
  display: flex;
  align-content: center;
  flex-direction: row;
}

.add-button {
  padding-left: 5rem;
  padding-right: 4rem;
}

form {
  margin-left: 11rem;
}

::-webkit-input-placeholder {
  text-align: center;
}
