body {
  background-image: url(https://i.ibb.co/zGhS5xn/BG.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: bottom;
}
// .home {
//   margin-bottom: 5rem;
// }
.homepage-container {
  padding: 0;
  margin: 0;
  list-style: none;

  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;

  -webkit-flex-flow: row wrap;
  justify-content: space-around;
}

.discover {
  font-size: 6rem;
}
.new {
  font-size: 4.5rem;
}
.home {
  font-size: 2rem;
}

.venue {
  font-size: 3.3rem;
}

.things {
  padding: 5px;
  width: 460px;
  height: 150px;
  margin-top: 50px;
  font-family: 'Signika', sans-serif;
  line-height: -3rem;
  // line-height: 145px;

  font-weight: bold;
  // font-size: 3em;
  text-align: left;
}

// body {
//   font-family: 'Avenir';
//   font-weight: 800;

//   // text-transform: uppercase;
// }

NewDate {
  margin-top: 5rem;
}

// html {
//   background-image: url(https://i.ibb.co/zGhS5xn/BG.jpg) center center no-repeat;
// }
