.card-one-title {
  font-family: 'Signika', sans-serif;
}

.been-button {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
